.head-picture {
	background-image: 	linear-gradient(
							rgba(0, 0, 0, 0.3),
							rgba(0, 0, 0, 0.3)), 
							url("assets/images/banner.jpg");
	background-size:	cover;
	background-repeat:	no-repeat;
	background-position:	center center;
	height: 80vh;
	padding: 10%;
	font-style: bold;
}
.section {
	max-width: 100%;
	height: auto;
}
.logo {
	max-height: 50px;
	width: auto;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    margin: 5px;
}

.material-icons.positive {
    color: #4caf50;
}

.material-icons.negative {
    color: #f44336;
}
