<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>
    <script src="../../js/assignment-status.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="../../index.html" class="brand-logo"><img src="../../assets/images/pen.png" alt="" class="logo"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="../../index.html"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href=""><i class="material-icons left">person</i>Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row center-align">
            <h3>Midterm Papers - Class 101</h3>
            <div class="divider"></div>
            <br></br>
            <a href="ta-status-p.html" class="waves-effect waves-light btn">Overall TA Grading Progress</a>
            <ul id="budget-list" class="left-align collection">
                <li class="collection-item hoverable">
                    <div class="row">
                        <label for="progress">Grading Progress: <span>38</span>%</label>
                        <div id="progress" class="green lighten-3 progress">
                            <div class="green determinate" style="width: 38%;"></div>
                        </div>
                        <label class="left"><span>0</span></label>
                        <label class="right"><span>100</span></label>
                    </div>
                </li>
            </ul>
            <canvas id="avgChart"></canvas>
            <br>
            <br>
            <br>
            <canvas id="myChart"></canvas>
            <br>
            <br>
            <a href="all-assigned-papers-p.html"class="waves-effect waves-light btn" >Distribution Breakdown</a>
            <br>
            <br>
        </div>
    </div>
</body>