<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>
    <script src="../js/home.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="../index.html" class="brand-logo"><img src="../assets/images/pen.png" alt="" class="logo"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="../index.html"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href=""><i class="material-icons left">person</i>Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row center-align">
            <h1>Welcome Professor!</h1>
            <div class="divider"></div>
            <p>
                Assignments in Progress
            </p>
            <br></br>
            <a href="home2.html" class="waves-effect waves-light btn">Class 101</a>
        </div>
    </div>
</body>
