<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>
    <script src="../js/previous.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="../../index.html" class="brand-logo"><img src="../assets/images/pen.png" alt="" class="logo"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="../../index.html"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href=""><i class="material-icons left">person</i>Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row center-aligned">
    <h2 style="text-align:center;"> Midterm Papers - Class101 </h2>
    <h4 style="margin-left: 20px;"> TA1 </h4>
    </div>
    <ul class="collection">
      <li class="collection-item">
        <a class="waves-effect waves-light btn" style="margin-right:20px;" href="prof-grading.html" id="paper-1">Student A1 Paper</a>
        <p style="display:inline;">8.5</p>
      </li>
      <li class="collection-item">
        <a class="waves-effect waves-light btn" style="margin-right:20px;" href="prof-grading.html" id="paper-2">Student B1 Paper</a>
        <p style="display:inline;">-- --</p>
      </li>
      <li class="collection-item">
        <a class="waves-effect waves-light btn" style="margin-right:20px;" href="prof-grading.html" id="paper-3">Student C1 Paper</a>
        <p style="display:inline;">6.1</p>
      </li>
      <li class="collection-item">
        <a class="waves-effect waves-light btn" style="margin-right:20px;" href="prof-grading.html" id="paper-4">Student D1 Paper</a>
        <p style="display:inline;">7.0</p>
      </li>
      <li class="collection-item">
        <a class="waves-effect waves-light btn" style="margin-right:20px;" href="prof-grading.html" id="paper-5">Student E1 Paper</a>
        <p style="display:inline;">-- --</p>
      </li>
      <li class="collection-item">
        <a class="waves-effect waves-light btn" style="margin-right:20px;" href="prof-grading.html" id="paper-6">Student F1 Paper</a>
        <p style="display:inline;">-- --</p>
      </li>
      <li class="collection-item">
        <a class="waves-effect waves-light btn" style="margin-right:20px;" href="prof-grading.html" id="paper-7">Student G1 Paper</a>
        <p style="display:inline;">-- --</p>
      </li>
      <li class="collection-item">
        <a class="waves-effect waves-light btn">Load More</a>
      </li>
    </ul>

    <script>

    for (var i=0; i<9; i++) {
      var paper = document.getElementById("paper-" + i);
      if (paper != null) {
        paper.onclick = function(e) {
          localStorage.setItem("papernumberprof", e.target.id.substring(8)+"1");
        }
      }
    }

    </script>

</body>
