<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="../../index.html" class="brand-logo"><img src="../../assets/images/pen.png" alt="" class="logo"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="../../index.html"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href=""><i class="material-icons left">person</i>Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row center-align">
            <h3>Midterm Papers - Class 101</h3>
            <div class="divider"></div>
            <br></br>
            <ul id="budget-list" class="left-align collection">
                <li class="collection-item hoverable">
                    <div class="row">
                        <a href="spec-ta-status-p.html" class="waves-effect waves-light btn" style="margin-right: 10px">TA1</a>
                        <label for="progress">Grading Progress: <span>20</span>%</label>
                        <div id="progress" class="red lighten-3 progress">
                            <div class="red determinate" style="width: 20%;"></div>
                        </div>
                        <label class="left"><span>0</span></label>
                        <label class="right"><span>100</span></label>
                    </div>
                </li>
                <li class="collection-item hoverable">
                    <div class="row">
                        <a href="spec-ta-status-p.html" class="waves-effect waves-light btn" style="margin-right: 10px">TA2</a>
                        <label for="progress">Grading Progress: <span>58</span>%</label>
                        <div id="progress" class="yellow lighten-4 progress">
                            <div class="yellow determinate" style="width: 58%;"></div>
                        </div>
                        <label class="left"><span>0</span></label>
                        <label class="right"><span>100</span></label>
                    </div>
                </li>
                <li class="collection-item hoverable">
                    <div class="row">
                        <a href="spec-ta-status-p.html" class="waves-effect waves-light btn" style="margin-right: 10px">TA3</a>
                        <label for="progress">Grading Progress: <span>0</span>%</label>
                        <div id="progress" class="red lighten-3 progress">
                            <div class="red determinate" style="width: 0%;"></div>
                        </div>
                        <label class="left"><span>0</span></label>
                        <label class="right"><span>100</span></label>
                    </div>
                </li>
                <li class="collection-item hoverable">
                    <div class="row">
                        <a href="spec-ta-status-p.html" class="waves-effect waves-light btn" style="margin-right: 10px">TA4</a>
                        <label for="progress">Grading Progress: <span>100</span>%</label>
                        <div id="progress" class="green lighten-3 progress">
                            <div class="green determinate" style="width: 100%;"></div>
                        </div>
                        <label class="left"><span>0</span></label>
                        <label class="right"><span>100</span></label>
                    </div>
                </li>
                <li class="collection-item hoverable">
                    <div class="row">
                        <a href="spec-ta-status-p.html" class="waves-effect waves-light btn" style="margin-right: 10px">TA5</a>
                        <label for="progress">Grading Progress: <span>12</span>%</label>
                        <div id="progress" class="red lighten-3 progress">
                            <div class="red determinate" style="width: 12%;"></div>
                        </div>
                        <label class="left"><span>0</span></label>
                        <label class="right"><span>100</span></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>