<head>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../index.css">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/materialize-css/dist/js/materialize.js"></script>
    <script src="../js/create_budget.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="../index.html" class="brand-logo"><img src="../assets/images/hot.png" alt="" class="logo"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="../index.html"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href=""><i class="material-icons left">person</i>Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row center-align">
            <h1>Budgets</h1>
            <div class="divider"></div>
            <div class="row center-align">
                <div class="input-field col s4 offset-s4 left-align">
                    <i class="material-icons prefix">attach_money</i>
                    <input id="budget-limit" type="number">
                    <label for="budget-limit">Enter Budget Limit</label>
                </div>
            </div>
            <table class="highlight">
                <thead>
                    <tr>
                        <th data-field="id">Category</th>
                        <th data-field="name">Name</th>
                        <th data-field="price">Amount</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="entry">
                        <td>
                            <select>
                                <option value="" disabled selected>Category</option>
                                <option value="rent">Rent</option>
                                <option value="food">Food</option>
                                <option value="recreation">Recreation</option>
                            </select>
                        </td>
                        <td>
                            <input name="name" type="text" placeholder="Name" />
                        </td>
                        <td>
                            <input name="amount" type="number" placeholder="Amount" />
                        </td>
                        <td>
                            <button class="btn btn-flat waves-effect waves-light transparent save"><i class="material-icons positive" type="submit">check</i></button>
                            <button class="btn btn-flat waves-effect waves-light transparent delete" type="submit"><i class="material-icons negative">delete</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <a id="add" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Item</a>
            </div>
            <div class="row right-align">
                <a id="submit" href="home2.html" class="waves-effect waves-light btn">Submit budget</a>
                <a id="cancel" href="home.html" class="waves-effect waves-light btn grey"><i class="material-icons left"></i>Cancel</a>
            </div>
        </div>
    </div>
</body>
