<head>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../index.css">
    <script src="../node_modules/materialize-css/dist/css/materialize.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="../index.html" class="brand-logo"><img src="../assets/images/hot.png" alt="" class="logo"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="../index.html"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href=""><i class="material-icons left">person</i>Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row center-align">
            <h1>Budgets</h1>
            <div class="divider"></div>
            <p>
                You don't have any budgets yet :(
            </p>
            <br></br>
            <a href="create_budget.html" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Create a budget</a>
        </div>
    </div>
</body>
